backend/build
frontend/node_modules
tests/node_modules
data/
build/
main.dSYM
main
.vscode/
.vscode/settings.json

python/app.log
app.log
json.h
httplib.h
main
main.dSYM/
build
.vscode/
a.out
adminFront/tsconfig.tsbuildinfo
adminFront/tsconfig.node.tsbuildinfo
