backend/build
frontend/node_modules
tests/node_modules
data/
build/
main.dSYM
main
.vscode/
.vscode/settings.json

python/app.log
app.log
json.h
httplib.h
main
main.dSYM/
build
.vscode/
settings.h
a.out
adminFront/tsconfig.tsbuildinfo
adminFront/tsconfig.node.tsbuildinfo
backend/cmake-build-debug

/.vs
*.log
.idea/
cmake-build-debug
/.vscode
/.idea
/.venv
backend/CMakeFiles/*
python/myenv/*
backend/backend
